<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/k11.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to Digital application</h2>
        <p>Technology news,Devlper and Trends</p>
        <button type="button" class="btn btn-success">Technology</button>
        <button type="button" class="btn btn-danger">Webdevlopment</button>
        <button type="button" class="btn btn-warning">Coding</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/k12.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to Digital application</h2>
        <p>Technology news,Devlper and Trends</p>
        <button type="button" class="btn btn-success">Technology</button>
        <button type="button" class="btn btn-danger">Webdevlopment</button>
        <button type="button" class="btn btn-warning">Coding</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/k13.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to Digital application</h2>
        <p>Technology news,Devlper and Trends</p>
        <button type="button" class="btn btn-success">Technology</button>
        <button type="button" class="btn btn-danger">Webdevlopment</button>
        <button type="button" class="btn btn-warning">Coding</button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%-include('_middle')-%> <%-include('_footer');%>
<!-- <div><%-include('_post')-%></div> -->

<!-- <section id="student-friend">
  <h4>friend</h4>
  <%for(u of all_users){%>

  <p>
    <a href="/student/profile/<%=u.id%>"><%=u.name%></a>
  </p>

  <% }%>
</section> -->
