<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/k11.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to Digital application</h2>
        <p>Technology news,Devlper and Trends</p>
        <button type="button" class="btn btn-success">Technology</button>
        <button type="button" class="btn btn-danger">Webdevlopment</button>
        <button type="button" class="btn btn-warning">Coding</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/k12.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to Digital application</h2>
        <p>Technology news,Devlper and Trends</p>
        <button type="button" class="btn btn-success">Technology</button>
        <button type="button" class="btn btn-danger">Webdevlopment</button>
        <button type="button" class="btn btn-warning">Coding</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/k13.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to Digital application</h2>
        <p>Technology news,Devlper and Trends</p>
        <button type="button" class="btn btn-success">Technology</button>
        <button type="button" class="btn btn-danger">Webdevlopment</button>
        <button type="button" class="btn btn-warning">Coding</button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section id="feed-posts">
  <%if(locals.student){%>
  <h4>Post</h4>

  <form action="/post/create" id="new-post-form" method="POST">
    <textarea name="content" rows="3" cols="30" placeholder="type massage">
    </textarea>
    <input type="submit" value="post" />
  </form>
  <%}%>
</section>
<%if(locals.student){%>
<div id="feed-list">
  <ul>
    <% for(post of posts) {%>
    <li>
      <%=post.content%>
      <small> <%=post.student.name%> </small>
    </li>
    <div class="post-comments">
      <form action="/comments/create" method="POST">
        <input
          type="text"
          name="content"
          placeholder="Type Here to add comment.."
        />
        <input type="hidden" name="post" value="<%=post._id%>" />
        <input type="submit" value="add comment" />
      </form>
    </div>
    <div class="post-comments-list">
      <ul id="post-comments-<%=post._id%>" class="post-comments">
        <% for(comment of post.comments){%>
        <p>
          <%=comment.content%>
          <br />
          <small> <%=comment.student.name%> </small>
        </p>

        <%}%>
      </ul>
    </div>
    <%}%>
  </ul>
</div>
<%}%>
